@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffaf2;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
    --header-font: "EB Garamond";
  }
}

body {
  color: var(--foreground);
  background: #fffaf2;
  background-image: url("https://assets.codepen.io/210284/flower-2.jpg");
  font-family: var(--header-font), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* CONTAINER FOR NOTES */

.background {
  display: grid;
  place-items: center;
  padding: 5vh 0 0 0;
}

h1 {
  font-size: 2.3rem;
  font-weight: bold;
  text-shadow: 3px 3px 2px 2px grey;
}

.dashboard {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 5fr 2.5fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas:
"header header header"
"sidebar main main";
}

.logged-in-section {
  /* display: flex; */
  /* width: 100vw; */
  /* flex-flow: column nowrap; */
  /* align-items: center; */
  /* justify-content: center; */
}

.header {
  grid-area: header;
}

/*.filter {*/
/*  grid-area: sidebar;*/
/*}*/

/*.note-container {*/
/*  grid-area: main;*/
/*}*/

.note-card {
  /* background-color: #fffaf2; */
}

.note-clone {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 55%;
  background-color: teal;
  color: black;
  transform: translate(-50%, -50%);
}

.note-status {
  text-align: right;
  width: 100%;
}
